django==4.1.8
django_extensions==3.2.1
django_modelcluster==6.0
matplotlib==3.7.1
numpy==1.24.3
opencv-python==4.7.0.72
pafy==0.5.5
pandas>=1.1.4
Pillow==9.5.0
PyYAML==6.0
requests==2.30.0
scipy==1.10.1
seaborn>=0.12.0
thop
torch==2.0.0
torchvision==0.15.1
tqdm>=4.41.0
urllib3==1.26.6
wagtail==4.2.2
youtube-dl