{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<div class="container-fluid" style="height:100%; padding-top:220px; display: block; overflow: auto;">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
      body {
        padding-top: 100px;
      }
    
      .container-fluid {
        position: relative;
      }
    
      h3 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        color: #3A5E3D;
        font-family: 'Darumadrop One', sans-serif;
      }
    
      h2 {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        font-size: 56px;
        color: #3A5E3D;
        font-weight: normal;
        font-family: 'Darumadrop One', sans-serif;
      }
    </style>
<br>
<!-- <center>{{ page.name_title }}</center> -->
<div>
  {{ page.name_subtitle|richtext }}
</div>
<div>
  {{ self.subtitle }}
</div>

<div>
  <div class="container"
    style="font-family: 'Darumadrop One', sans-serif; font-size: 22px; color: #68956C; text-align: center;">
    {% for block in page.content %}
    {% include_block block %}
  </div>
  <br>
  {% endfor %}
</div>



{% endblock %}