{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }

      h1{
        position: absolute;
        left: 50%;
        top: 24%;
        transform: translate( -50%, -50% );
        font-size: 33px;
        color: #3A5E3D;
        font-weight: normal;
        font-family: 'Darumadrop One', sans-serif;
      }

      h3{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate( -50%, -50% );
        font-size: 33px;
        color: #3A5E3D;
        font-weight: normal;
        font-family: 'Darumadrop One', sans-serif;
      }

      h6{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate( -50%, -50% );
        font-size: 20px;
        color: #68956C;
        font-weight: normal;
        font-family: 'Darumadrop One', sans-serif;
      }

      h8{
        position: absolute;
        left: 50%;
        top: 94%;
        transform: translate( -50%, -50% );
        font-size: 14px;
        color: #AAC5AC;
        font-weight: normal;
        font-family: 'Darumadrop One', sans-serif;
      }

      .weed-detect{
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate( -50%, -50% );
        font-size: 40px;
        color: #3A5E3D;
        font-family: 'Darumadrop One', sans-serif;
      }

    </style>
{% endblock %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<center><h1 class="display-4">{{ page.name_title }}</h1></center>
<div>
    <center><p>{{ page.name_subtitle|richtext }}</p></center>
</div>

<center>
  <div class="container-fluid" style="height:100%; padding-top:3%; display: block; overflow: auto;">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
      .file-drop-area {
          position: relative;
          align-items: center;
          max-width: 100%;
          padding: 40px 400px;
          border: 1px dashed #68956C;
          border-radius: 3px;
          font-family:'Darumadrop One', serif;
          color: #68956C;
          left: 50%;
          transform: translate( -50%, -50% );
          margin-top: 200px;
        }

      .choose-file-button {
          flex-shrink: 0;
          background-color: none;
          border: none;
          border-radius: 3px;
          padding: 8px 15px;
          font-size: 20px;
          color: #3A5E3D;
          text-transform: uppercase;
          font-family:'Darumadrop One', serif;
        }

      .file-message {
          font-size: 20px;
          font-weight: 300;
          line-height: 1.4;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis
        }

      .file-input {
          position: absolute;
          height: 100%;
          widows: 100%;
          cursor: pointer;
          opacity: 0;
          left: 50%;
          transform: translate( -50%, -50% );
          
        }

      .weed-text {
          position: relative;
          align-items: center;
          max-width: 100%;
          padding: 120px 400px;
          border: none;
          display: block;
      }

    </style>
    <script type="text/javascript">
      $(document).on('change', '.file-input', function() {
          var filesCount = $(this)[0].files.length;
          var textbox = $(this).prev();
          if (filesCount === 1) {
          var fileName = $(this).val().split('\\').pop();
          textbox.text(fileName);
          } else {
          textbox.text(filesCount + ' files selected');
          }
          if (typeof (FileReader) != "undefined") {
          var dvPreview = $("#divImageMediaPreview");
          dvPreview.html("");
          var index =0;
          $($(this)[0].files).each(function () {
          var file = $(this);
          var reader = new FileReader();
          reader.onload = function (e) {
          var img = $("<img />");
          img.attr("style", "width: 150px; height:100px; padding: 10px");
          img.attr("src", e.target.result);
          img.attr("name", name+index);
          index=index+1;
          dvPreview.append(img);
          }
          reader.readAsDataURL(file[0]);
          });
          } else {
          alert("This browser does not support HTML5 FileReader.");
          }
          });
    </script>

    <form class="input-group mb-3" method="POST" enctype="multipart/form-data" id="form1">
      <div class="file-drop-area"> <span class="choose-file-button btn-primary">Click here</span> <span
          class="file-message">to choose the file</span> <input type="file" name="file_data" class="file-input"
          accept=".jfif,.jpg,.jpeg,.png,.gif" multiple> </div>
      {% csrf_token %}
      <div class="container-fluid">
        <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04" style="color: white; background-color: #3A5E3D; border: none; font-family:'Darumadrop One',
                 serif; padding-left: 60px; padding-right: 60px;">Show your file</button>
      </div>
    </form>
    <div class=" ">
      <form method="POST" id="start">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="start" id="start" style="color: white; background-color: #3A5E3D; border: none; font-family:'Darumadrop One', serif;
                 padding-left: 60px; padding-right: 60px; ">Detect</button>
      </form>
    </div>
    {% if detected_objects|length > 0 %}
    <div class="weed-text">
      <h6>Weeds detected in your image(s):</h6>
      <ul>
        {% for weed, url in detected_objects.items %}
          <a class="weed-detect" href="{{url}}" target="_blank">{{weed}}</a>
        {% endfor %}
      </ul>
      <h8>Click the name to learn more about the weed!</h8>
    </div>
    {% endif %}

<br><br><br>

</div>
</center>

<div class=" " style="margin-bottom:400px;">
    <ul class="nav justify-content-center" id="myTab">
      <li class="nav-item">
        <button class="nav-link active" id="image-tab" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab"
          aria-controls="home" style="border: none; font-family:'Darumadrop One', serif; color:#68956C; font-size: 20px;
          background-color: white;">Uploaded
          Images</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab"
          aria-controls="results" style="border: none; font-family:'Darumadrop One', serif; color:#68956C; font-size: 20px;
          background-color: white;">Result
          Images</button>
      </li>
    </ul>
  <br>
    <div class="tab-content" id="tab-results">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="image-tab">
        <div id="carousel_control" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
            <ol class="carousel-indicators">
              {% for my_file in my_uploaded_file_names %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
              {% endfor %}
            </ol>
          <div class="carousel-inner">
            {% for uploaded_file in my_uploaded_file_names %}
              <div class="carousel-item{% if forloop.first %} active {% endif %} ">
                <a href={{uploaded_file}} target="_blank"></a> 
                <img src="{{uploaded_file}}" class="d-block w-100">
              </div>
            {% endfor %}
          </div>
        <a class="carousel-control-prev" data-bs-target="#carousel_control" type="button" data-bs-slide="prev" 
        style="font-family:'Darumadrop One', serif; color:white; font-size: 20px;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-bs-target="#carousel_control" type="button" data-bs-slide="next"
        style="font-family:'Darumadrop One', serif; color:white; font-size: 20px;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

      <div class="tab-pane fade" id="results">
        <div id="results-carousel" class="carousel slide" data-bs_ride="carousel" data-bs-interval="5000" data-bs-pause="false">
          <ol class="carousel-indicators">
            {% for result_file in my_result_file_names %}
                  <button type="button" data-bs-target="#results-indicator" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for result_file in my_result_file_names %}
                <div class="carousel-item {% if forloop.first %} active {% endif %} ">
                  <a href="{{result_file}}" target="_blank">
                    <img src="{{result_file}}" class="d-block w-100">
                  </a>
                </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" data-bs-target="#results-carousel" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#results-carousel" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock %}