{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }
    </style>
{% endblock %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<center><h1 class="display-4">{{ page.name_title }}</h1></center>
<div>
    <center><p>{{ page.name_subtitle|richtext }}</p></center>
</div>

<center>
  <div class="container-fluid" style="height:100%; padding-top:3%; display: block; overflow: auto;">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
      .file-drop-area {
          position: relative;
          display: flex;
          align-items: center;
          max-width: 100%;
          padding: 25px;
          border: 1px dashed rgba(255, 255, 255, 0.4);
          border-radius: 3px;
          transition: .2s
        }

      .choose-file-button {
          flex-shrink: 0;
          /* background-color: rgba(255, 255, 255, 0.04); */
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 3px;
          padding: 8px 15px;
          margin-right: 10px;
          font-size: 12px;
          text-transform: uppercase
        }

      .file-message {
          font-size: small;
          font-weight: 300;
          line-height: 1.4;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis
        }

      .file-input {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          widows: 100%;
          cursor: pointer;
          opacity: 0
        }
    </style>
    <script type="text/javascript">
      $(document).on('change', '.file-input', function() {
          var filesCount = $(this)[0].files.length;
          var textbox = $(this).prev();
          if (filesCount === 1) {
          var fileName = $(this).val().split('\\').pop();
          textbox.text(fileName);
          } else {
          textbox.text(filesCount + ' files selected');
          }
          if (typeof (FileReader) != "undefined") {
          var dvPreview = $("#divImageMediaPreview");
          dvPreview.html("");
          var index =0;
          $($(this)[0].files).each(function () {
          var file = $(this);
          var reader = new FileReader();
          reader.onload = function (e) {
          var img = $("<img />");
          img.attr("style", "width: 150px; height:100px; padding: 10px");
          img.attr("src", e.target.result);
          img.attr("name", name+index);
          index=index+1;
          dvPreview.append(img);
          }
          reader.readAsDataURL(file[0]);
          });
          } else {
          alert("This browser does not support HTML5 FileReader.");
          }
          });
    </script>

    <form class="input-group mb-3" method="POST" enctype="multipart/form-data" id="form1">
          <div class="file-drop-area"> <span class="choose-file-button btn-primary">Choose Files</span> <span class="file-message">or drag and drop files here</span> <input type="file" name="file_data" class="file-input" accept=".jfif,.jpg,.jpeg,.png,.gif" multiple> </div>
          {% csrf_token %}
          <div class="container-fluid p-2">
                <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
          </div>
    </form>
    {% if detected_objects|length > 0 %}
      <h6>Weeds detected in your image(s):</h6>
      <ul>
        {% for objects in detected_objects %}
          {% for weed in objects %}
            <li class="text-white">
              <a class="text-black" href="http://127.0.0.1:8000/" + {{weed.space_to_hyphen}} target="_blank">{{weed}}</a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul> 
    {% endif %}

<br><br><br>

</div>
</center>

<div class=" ">
  <form method="POST" id="start">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="start" id="start">Detect</button>
  </form>
</div>

<div class=" " style="margin-bottom:400px;">
    <ul class="nav nav-pills" id="myTab">
      <li class="nav-item">
        <button class="nav-link active" id="image-tab" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab" aria-controls="home">Uploaded Images</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab" aria-controls="results">Result Images</button>
      </li>
    </ul>

    <div class="tab-content" id="tab-results">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="image-tab">
        <div id="carousel_control" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
            <ol class="carousel-indicators">
              {% for my_file in my_uploaded_file_names %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
              {% endfor %}
            </ol>
          <div class="carousel-inner">
            {% for uploaded_file in my_uploaded_file_names %}
              <div class="carousel-item{% if forloop.first %} active {% endif %} ">
                <a href={{uploaded_file}} target="_blank"></a> 
                <img src="{{uploaded_file}}" class="d-block w-100">
              </div>
            {% endfor %}
          </div>
        <a class="carousel-control-prev" data-bs-target="#carousel_control" type="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-bs-target="#carousel_control" type="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

      <div class="tab-pane fade" id="results">
        <div id="results-carousel" class="carousel slide" data-bs_ride="carousel" data-bs-interval="5000" data-bs-pause="false">
          <ol class="carousel-indicators">
            {% for result_file in my_result_file_names %}
                  <button type="button" data-bs-target="#results-indicator" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for result_file in my_result_file_names %}
                <div class="carousel-item {% if forloop.first %} active {% endif %} ">
                  <a href="{{result_file}}" target="_blank">
                    <img src="{{result_file}}" class="d-block w-100">
                  </a>
                </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" data-bs-target="#results-carousel" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#results-carousel" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock %}